<div class="container p-4" style="">
	<div class="row" style="margin-bottom: 15px">
		<div class="col-md-10">
			<form class="form-inline">
		    	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		    	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		</div>
		<div class="col-md-2" style="text-align: right;">
			<a href="/trabajadores/add" class="btn btn-secondary">Agregar</a>
		</div>
	</div>
	<div class="row">
		{{#each trabajadores}}
			<div class="col-md-3">
				<div class="card text-center" style="margin-bottom: 10px;">
					<div class="card-body">
						<a>
							<h3 class="card-title text-uppercase">
								{{nombre}} {{apellido}}
							</h3>
						</a>
						<p class="m-2">Rut: {{rut}}</p>
						<p class="m-2">Fecha de nacimiento:<br>{{fecha_nacimiento}}</p>
						<p class="m-2">Area: {{area}}</p>
						<p class="m-2">Nivel de Estudios:<br>{{nivel_estudios}}</p>
						<p class="m-2">Numero de Capacitaciones:<br>{{num_capacitacion}}</p>
						<a href="/trabajadores/delete/{{id}}" class="btn btn-danger">Eliminar</a>
						<a href="/trabajadores/edit/{{id}}" class="btn btn-secondary">Actualizar</a>
					</div>
				</div>
			</div>
		{{else}}
			<div class="col-md-4 mx-auto">
				<div class="card card-body text-center">
					<p>No hay trabajadores registrados</p>
					<a href="/trabajadores/add">Crea uno</a>
				</div>
			</div>
		{{/each}}
	</div>	
</div>